.navLink{
    text-decoration: none;
    color:white;
    margin: 0 5px;
    text-transform: uppercase;
    font-weight: 400;
}

.isActive{
    color: red;
}

.menuBar{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 400;
}

.navLink2{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: 2px solid #E6022A;
    border-radius: 5%;
    padding: 10px;
    cursor: pointer;
}

