.btn{
    background-color: #E50914;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid #E50914;
    width: 100px;
    height: 30px;
    font-size: 0.7rem;
    margin-left: 15px;
    border-radius: 0;
    
}

.btn:hover{
    background-color: transparent;
}

