.btn{
    background-color: #D12E27;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid #D12E27;
    width: 100px;
    height: 30px;
    font-size: 0.7rem;
    margin-left: 15px;
    border-radius: 0;
    text-decoration: none;
    color: #fff;
    
}

.btn:hover{
    background-color: transparent;
}



